


@{
    ViewBag.Title = "ResetPassword";
}




@using (Html.BeginForm("SavePassword", "User", FormMethod.Post))
{
    <div class=" col-md-4 offset-md-4  ">
        <h1 class="display-4 text-center ">Reset Password</h1>
        <hr />
        <div class="row mb-3  input-group">
            <input type="hidden" name="email" value=@ViewBag.EmailId />
            @Html.Label("Password", "Password", new { @class = "form-label text-center" })

            <input type="password" id="pass" class="form-control" placeholder="Type your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>


        </div>
        <div class="col-sm-4">
            <small id="passval" class="text-danger">

            </small>
        </div>
        <div class="row mb-3 input-group  ">
            @Html.Label("Password", "Confirm Password", new { @class = "form-label text-center" })

            <input type="password" id="pass1" name="pass1" placeholder="Confirm your password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
        <div class="col-sm-4">
            <small id="passmatch" class="text-danger">

            </small>
        </div>

        <input type="checkbox" id="check"> Show Passwords

        <div class="text-center">
            <input type="submit" id="reset" value="Reset" class="btn btn-success" />
        </div>
    </div>
        }

<script>

    $(document).ready(function () {

        $("#passmatch").hide();
        $("#pass").change(validatePassword);
        $("#pass1").keyup(validatePassword);
        $('#pass').keyup(function () {
            $('#passval').html(passRequirements($('#pass').val()))
        })

        $("#check").mousedown(function () {
            var pass = $("#pass")
            var pass1 = $("#pass1")

            pass.attr('type', 'text');
            pass1.attr('type', 'text');
            $("#check").prop("checked", true)
        });
        $("#check").mouseup(function () {
            var pass = $("#pass")
            var pass1 = $("#pass1")

            pass.attr('type', 'password');
            pass1.attr('type', 'password');
            $("#check").prop("unchecked", false);
        });



    })
    function validatePassword() {
        var password = $("#pass")
            , confirm_password = $("#pass1")
        if (password.val() == "" && confirm_password.val() == "")
            $("#passmatch").hide();
        if (password.val() != confirm_password.val()) {
            confirm_password[0].setCustomValidity("Passwords do not match!!")
            $("#passmatch").addClass("text-danger");
            $("#passmatch").text("Passwords do not match!!").show();

        } else {
            confirm_password[0].setCustomValidity("")
            $("#passmatch").removeClass("text-danger");
            $("#passmatch").addClass("text-success");
            $("#passmatch").text("Passwords match.").show();


        }
    }

    function passRequirements(password) {
        $("#passval").addClass("text-danger");
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password must be between 8 to 20 characters long.';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password must contain at least one uppercase.';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password must contain at least one lowercase.';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password must contain at least one digit.';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password must contain special characters.";
        } else if ((/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/.test(password))) {
            $("#passval").removeClass("text-danger");
            $("#passval").addClass("text-success");
            return "Strong Password"
        }
    }
</script>





